[Unit]
Description=UWSGI for App
After=network.target

[Service]
User=app
Group=www-data
WorkingDirectory=/srv/python/app
ExecStart=/srv/python/app/venv/bin/uwsgi --ini /srv/python/uwsgi.ini
StandardError=/var/log/uwsgi/ericoc.log

[Install]
WantedBy=multi-user.target
