{% extends "index.html.j2" %}
{% block title %} - Page Not Found{% endblock %}
{% block description %} - Page Not Found{% endblock %}
{% from "macros.html.j2" import nav_tabs %}
{% block nav %}{{ nav_tabs(page, pages) }}{% endblock %}
{% block content %}
                <center>
                    <h2>Sorry!</h2>
                    Unfortunately, that page could not be found.
                </center>
{% endblock %}
