{% extends "index.html.j2" %}
{% block title %} - Page Not Found{% endblock %}
{% block description %} - Page Not Found{% endblock %}
{% block nav %}
            {% for tab, tab_name in pages.items() %}
                <li><a href="/{{ tab }}">{{ tab_name }}</a></li>
            {% endfor %}
{% endblock %}
{% block content %}
                <center>
                    <h2>Sorry!</h2>
                    Unfortunately, that page could not be found.
                </center>
{% endblock %}
