{% extends "index.html.j2" %}
{% from "macros.html.j2" import show_title, nav_tabs %}
{% block description %}{{ show_title(title) }}{% endblock %}
{% block title %}{{ show_title(title) }}{% endblock %}
{% block nav %}{{ nav_tabs(page, pages) }}{% endblock %}
{%- block content %}
                <center>
                    <h2>Sorry!</h2>
                    Unfortunately, that page could not be found.
                </center>
{%- endblock %}
