<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="google-site-verification" content="4yRSlIeY2suoHNV99v092rtlWVP7vLHyQV7Idr8to1g">
        <meta name="author" content="Eric O'Callaghan">
        <meta name="description" content="Eric O'Callaghan{% if title %} - {{ title }}{% endif %}">
        <meta name="keywords" content="Eric O'Callaghan, Eric OCallaghan, EricOC, Eric OC">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Eric O'Callaghan">
        <meta property="og:title" content="Eric O'Callaghan{% if title %} - {{ title }}{% endif %}">
        <meta property="og:description" content="Eric O'Callaghan{% if title %} - {{ title }}{% endif %}">
        <meta property="og:url" content="{% if title %}{{ url_for('specific', page=page, _external=True) }}{% else %}{{ url_for('index', _external=True) }}{% endif %}">
        <meta property="og:image" content="{{ url_for('static', filename='icon.png', _external=True) }}">
        <title>Eric O'Callaghan{% if title %} - {{ title }}{% endif %}</title>
        <link href="{{ url_for('static', filename='fonts.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='ericoc.css') }}" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}">
    </head>
    <body>
        <div id="logo">
            <h1>
                <a href="{{ url_for('index') }}"><span id="logoblue">Eric O'C</span>allaghan</a>
            </h1>
        </div>
        <div id="nav">
            <ul id="navlist">
              {%- for tab, tab_name in pages.items() %}
                <li><a {% if page == tab %}id="current"{% else %}href="{{ url_for('specific', page=tab) }}"{% endif %}>{{ tab_name }}</a></li>
              {%- endfor %}
            </ul>
        </div><br>
        <div id="content">
{% include page + '.html' %}
        </div><br>
    </body>
</html>
