<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="google-site-verification" content="4yRSlIeY2suoHNV99v092rtlWVP7vLHyQV7Idr8to1g" />
        <meta name="author" content="Eric O'Callaghan">
        <meta name="description" content="Eric O'Callaghan{% block description %}{% endblock %}">
        <meta name="keywords" content="Eric O'Callaghan, Eric OCallaghan, EricOC, Eric OC">
        <title>Eric O'Callaghan{% block title %}{% endblock %}</title>
        <link href="/static/fonts.css" rel="stylesheet" type="text/css">
        <link href="/static/ericoc.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="apple-touch-icon" href="/static/icon.png">
    </head>
    <body>
        <div id="logo">
            <h1>
                <a href="/"><span id="logoblue">Eric O'C</span>allaghan</a>
            </h1>
        </div>
        <div id="nav">
            <ul id="navlist">
                {% block nav %}{% endblock %}
            </ul>
        </div>
        <br>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <br>
    </body>
</html>
