            <h2 id="zeromon">
                <a href="https://github.com/zeromonio/zeromon" target="_blank">Zeromon</a>
            </h2>
            <ul>
                <li class="projspecs">Started: December 20 (Thursday), 2018</li>
                <li class="projspecs">Langage: Ansible</li>
                <li>I absolutely love Zabbix as a monitoring tool so a friend of mine (<a href="https://www.linkedin.com/in/kyleparisi/" target="_blank">Kyle Parisi</a>) came up with the idea of a project that we call <a href="https://zeromon.io/" target="_blank">Zeromon</a>.</li>
                <li>The goal was to create an Amazon Machine Image (AMI) to allow any one to deploy a fully working Zabbix installation on EC2 with a single click from the Amazon Web Services Marketplace <a href="https://aws.amazon.com/marketplace/pp/B07MD6N9ZQ" target="_blank">which we did</a>!
                <li>Zeromon uses a combination of <a href="https://cloudinit.readthedocs.io/en/latest/" target="_blank">cloud-init</a> along with our open-sourced Ansible playbook and roles to make setting up Zabbix on Amazon as simple as possible.</li>
            </ul><br>

            <h2 id="indegotalk">
                <a href="https://github.com/ericoc/indego_talk" target="_blank">Indego Bike-Share Presentation</a>
            </h2>
            <ul>
                <li class="projspecs"><a href="https://fosscon.us/node/12742" target="_blank">FOSSCON</a> (August 2018 in Philadelphia)</li>
                <li class="projspecs"><a href="https://www.meetup.com/Transportation-Techies/events/259740420/" target="_blank">Transportation Techies Bike Share Hack Night X</a> (April 2019 in Washington, D.C.)</li>
                <li class="projspecs">Application: Keynote (Presentation/Talk)</li>
                <li>I created a presentation that I titled "<a href="https://indegotalk.ericoc.com/" target="_blank">Cycling Through The Indego Bike-Share API</a>".</li>
                <li>Having created both <a href="#indegophp">PHP</a> and <a href="#indegopy">Python</a> libraries to interact with the Philadelphia Indego Bike-Share API, I wanted to speak about it to hopefully inspire other open source fans to create their own projects using the Indego API.</li>
                <li>The FOSSCON presentation also received <a href="https://hackaday.com/2018/08/27/fosscon-2018-hacking-the-indego-bike-sharing-api/" target="_blank">coverage by Hackaday</a> which I thought was awesome!</li>
            </ul><br>

            <h2 id="indegopy">
                <a href="https://github.com/ericoc/indego-py-lib" target="_blank">Indego Bike Share Python Library</a>
            </h2>
            <ul>
                <li class="projspecs">Started: June 5 (Tuesday), 2018</li>
                <li class="projspecs">Langage: Python</li>
                <li>I originally became interested in the Indego Bike Share program in 2015 and created a <a href="#indegophp">PHP library to interact with their API, per the project below</a>.</li>
                <li>With this project, I've tried to duplicate my original PHP library, but rewriting it in Python to gain some familiarity with the language.</li>
                <li>I set up <a href="https://indego.ericoc.com/" target="_blank">this status page</a> with historical charts for each bike-share station, using data that I store in PostgreSQL.</li>
                <li>I also made my first attempt at creating a Amazon Web Services (AWS) Lambda function which powers a searchable API of the Indego bike-share stations which is <a href="https://github.com/ericoc/indego-py-lib/blob/master/lambda.md" target="_blank">described here</a>.</li>
            </ul><br>

            <h2 id="alexa">
                <a href="https://github.com/ericoc/alexa-seizuretracker" target="_blank">Amazon Alexa Skill: Seizure Tracker</a>
            </h2>
            <ul>
                <li class="projspecs">Started: March 25 (Saturday), 2017</li>
                <li class="projspecs">Langage: PHP</li>
                <li>I have been working with Rob Moss - the co-founder of <a href="https://seizuretracker.com/" target="_blank">SeizureTracker.com</a> - and we recently made an Amazon Alexa <a href="https://www.amazon.com/b?node=13727921011" target="_blank">skill</a> (for the Echo & Echo Dot) <a href="https://www.amazon.com/Seizure-Tracker/dp/B074HBVHRJ/" target="_blank">publicly available</a> for free for any one to use to track epileptic seizures.</li>
            </ul><br>

            <h2 id="indegophp">
                <a href="https://github.com/ericoc/indego-php-lib" target="_blank">Indego Bike Share PHP Library</a>
            </h2>
            <ul>
                <li class="projspecs">Started: November 16 (Monday), 2015</li>
                <li class="projspecs">Langage: PHP</li>
                <li>The Philadelphia Indego Bike Share program is interesting to me because of the technology behind it, including the fact that RFID tokens are used to check out bicycles.</li>
                <li>When I realized that <a href="https://www.opendataphilly.org/dataset/bike-share-stations" target="_blank">an API is available</a> for the bike share stations, I just had to take advantage of the data.</li>
                <li>I was also asked to write <a href="https://www.highcharts.com/blog/products/highcharts/250-tracking-bike-share-usage-in-philadelphia/" target="_blank">this blog post</a> for <a href="https://www.highcharts.com/" target="_blank">Highcharts.com</a> since I used their graphing library to chart historic bicycle availability per station.</li>
            </ul><br>

            <h2 id="zabbix">
                <a href="https://github.com/ericoc/zabbix-slack-alertscript" target="_blank">Zabbix Slack AlertScript</a>
            </h2>
            <ul>
                <li class="projspecs">Started: December 27 (Friday), 2013</li>
                <li class="projspecs">Langage: Bash</li>
                <li>I had a chance to write a quick Bash script meant to forward alerts from the <a href="https://www.zabbix.com/" target="_blank">Zabbix</a> monitoring application to the <a href="https://slack.com/" target="_blank">Slack</a> messaging service as I could not find an already existing method by which to do so.</li>
            </ul>
            <br><hr><br>


            <h2 id="deprecated">
                Deprecated Projects
            </h2><br>

            <h2 id="stocks">
                <a href="https://github.com/ericoc/old-stock-quotes-php-lib" target="_blank">Stock Quote PHP Library</a>
            </h2>
            <ul>
                <li class="projspecs">Started: September 9 (Saturday), 2017</li>
                <li class="projspecs">Deprecated: November 2 (Thursday), 2017</li>
                <li class="projspecs">Language: PHP</li>
                <li>I created this PHP library to simplify retrieval of stock quote data using Yahoo's (<i>now discontinued</i>) Finance API.</li>
                <li>The PHP class did its best to minimize HTTPS requests to Yahoo while also caching stock quotes in Redis.</li>
                <li>Unfortunately, the Yahoo YQL API that this relied upon was discontinued by Yahoo.</li>
            </ul><br>

            <h2 id="gawsh">
                <a href="https://github.com/ericoc/gaw.sh" target="_blank">gaw.sh URL Shortener</a>
            </h2>
            <ul>
                <li class="projspecs">Started: December 2 (Friday), 2011</li>
                <li class="projspecs">Deprecated: Dec 28 (Sunday), 2014</li>
                <li class="projspecs">Language: PHP, MySQL, HTML, CSS, JavaScript</li>
                <li>I originally purchased the domain name "<a href="https://gaw.sh/" target="blank">gaw.sh</a>" as a short address to remember quickly and to have some fun with.</li>
                <li>However, I eventually realized that it would make a great domain name for a URL shortener so I began creating my own.</li>
                <li>This was deprecated due to a number of reasons including unmaintainability. URL shorteners attract a large amount of abuse and the public repository no longer matches the numerous changes (such as recaptcha) that were added to avoid continued spam.</li>
                <li>The website itself will stay up as long as possible, but further changes are not going to be made public since the repository is no longer in-sync.</li>
            </ul>
